@charset "utf-8"
<style>
body{
    color: rgb(109, 139, 0);
    background-color: rgb(255, 136, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
h1{
    color: darkblue;
   background-color: darkblue;
   font-size: 20px;
}
h2{
    background-color: darkorange;
    
}
</style>